html{
	height: 100%;
	
}
.abutton{
	margin-right: 30px;
	
	height: 25px;
	padding: 23px;
	text-align: center;
	display: inline-block;
	font-family: 'Times New Roman', Times, serif;
	font-size: 24px;
}
.header_burger{
	display: none;
	float: right;
	margin-right: 20px;
	margin-top: 20px;
	z-index: 1;
}
.topbuttonright{
	color: white;
	display: grid;
	float: right;
}
.topbuttonright img {
	height: 45px;
	width: 35px;
	margin-right: 12px;
	margin-top: 10px;
	z-index: 5;
}
@media(max-width: 1000px){
	.header_burger{
		display:block;
		position: relative;
		width: 30px;
		height: 30px;
	}
	.topmenu{

		position: fixed;
		top: -100%;
		left: 0;
		height: 100%;
		width: 100%;
		background: linear-gradient(225deg, #52a361,  #52A36E, #52A37D,  #52A37D, #52A36E, #4f9a5b, #52a361);
		z-index: 2;
		opacity: 100%;
		transition: 0.5s;

	}
	.abutton{
		width: 100%;
	}
	.topbuttonright{
		padding: 50px 0 50px 0;
		position: relative;
		display: block;
		float: left;
		
	}
	
	.topmenu.active{
		top: 70px;
	}
}

.header_burger:before, .header_burger:after{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
	}

	.header_burger:before{
		top: 0px;
		transition: 0.5s;
		
	}
	.header_burger.active:before{
		transform: rotate(45deg);
		top: 14px;
		transition: 0.5s;
	}
	.header_burger.active span{
		transform: scale(0);
		transition: 0.5s;
	}

	.header_burger:after{
		bottom: 0px;
		transition: 0.5s;
	}
	.header_burger.active:after{
		transform: rotate(-45deg);
		bottom : 14px;
		transition: 0.5s;
	}
	.header_burger span{
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		top: 15px;
		transition: 0.5s;
	}
	
	
*{

	margin: 0;
	padding: 0;
}
header{
	position: relative;
	width: 100%;
	height: 70px;
	background: #4f9a5b;
	box-shadow: 0px 1px #528e61;
	border-radius: 0px 0px 5px 5px;
}
.topbuttonleft{
	display: grid;
	float: left;
}
.topbuttonleft img {
	height: 70px;
	width: 250px;
}
.topmenu{
	list-style: none;
	text-decoration: none;
}


.abutton:hover{
	background: #52a361;
	
	transition: 1s;
}
.abutton:active{
	background: #52a361;
	opacity: 35%;
	
}
.content{
	display: inline-block;
	
}