html{
	height: 100%;
	
}

.abutton{
	margin-right: 30px;
	
	height: 25px;
	padding: 23px;
	text-align: center;
	display: inline-block;
	font-family: 'Times New Roman', Times, serif;
	font-size: 24px;
}
.header_burger{
	display: none;
	float: right;
	margin-right: 20px;
	margin-top: 20px;
	z-index: 1;
}
.topbuttonright{
	color: white;
	display: grid;
	float: right;
}
.topbuttonright img {
	height: 45px;
	width: 35px;
	margin-right: 12px;
	margin-top: 10px;
	z-index: 5;
}
@media(max-width: 1000px){
	body.lock{
		overflow: hidden;
	}
	.header_burger{
		display:block;
		position: relative;
		width: 30px;
		height: 30px;
		
	}
	.topmenu{

		position: fixed;
		top: -100%;
		left: 0;
		height: 100%;
		width: 100%;
		background: linear-gradient(225deg, #52a361, #4f9a5b,  #52A36E, #52A37D,  #52A37D, #52A36E, #4f9a5b, #52a361);
		z-index: 2;
		opacity: 100%;
		transition: 0.5s;

	}
	.abutton{
		width: 100%;
		
	}
	.topbuttonright{
		padding: 50px 0 50px 0;
		position: relative;
		display: block;
		float: left;
		
	}
	
	.topmenu.active{
		top: 70px;
		
	}
}

.header_burger:before, .header_burger:after{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
	}

	.header_burger:before{
		top: 0px;
		transition: 0.5s;
		
	}
	.header_burger.active:before{
		transform: rotate(45deg);
		top: 14px;
		transition: 0.5s;
	}
	.header_burger.active span{
		transform: scale(0);
		transition: 0.5s;
	}

	.header_burger:after{
		bottom: 0px;
		transition: 0.5s;
	}
	.header_burger.active:after{
		transform: rotate(-45deg);
		bottom : 14px;
		transition: 0.5s;
	}
	.header_burger span{
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		top: 15px;
		transition: 0.5s;
	}
	
	
*{

	margin: 0;
	padding: 0;
}
header{
	position: relative;
	width: 100%;
	height: 70px;
	background: linear-gradient(#52A36E, #52a361,  #52A36E);
	box-shadow: 0px 5px #528e61;
	border-radius: 0px 0px 5px 5px;
}
.topbuttonleft{
	display: grid;
	float: left;
}
.topbuttonleft img {
	height: 70px;
	width: 250px;
}
.topmenu{
	list-style: none;
	text-decoration: none;
}


.abutton:hover{
	background: #52a361;
	
	transition: 1s;
}
.abutton:active{
	background: #52a361;
	opacity: 35%;
	
}
.content{
	display: inline-block;
	
}




#block-for-slider {
    width: 100%;
   margin-top: -2px;
}

#viewport {
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 4);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

.slide {
    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
}

.slide-img {
    width: 100%;
}

#prev-btn, #next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    top: calc(50% - 25px);
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    left: 20px;
}

#next-btn {
    right: 20px;
}

#nav-btns {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin: 3px;
}

.slide-nav-btn:hover {
    cursor: pointer;
}
footer{
	background-color: #52a361;
	position: absolute;
	bot: 0;
	left: 0;
	width: 100%;
	height: 150px;
	box-shadow: 0px 5px #528e61;
	text-align: center;
}
